<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 显示SQL语句信息 -->
	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	<!-- <mappers>
		<mapper resource="classpath:com/wuchen/website/dao/manager/impl/*.xml"/>
		<mapper resource="classpath:com/wuchen/website/dao/official/impl/*.xml"/>
	</mappers> -->
</configuration>